$font-stack: "Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
$primary-color: gray;
$wmsc-blue: #39588D;
$footer-color: #B2B3B3;
$footer-height: 118px;
$error-text-color: #EE0000;
$base-font-size: 17px;
$base-font-weight: 300;
$header-top-height:75px;
$header-top-height-small:55px;
$logo-width:252px;
$logo-width-small:184px;
$paragraph-height:26pt;
$headline-height:21pt;
$desktop-home-new-item-height:182px;
$desktop-home-new-item-width:260px;
$mobile-home-new-item-height:auto;
$mobile-home-new-item-width:100%;
$desktop-home-new-item-lines-limit:4;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }

.mapMarker {
  border-radius: 50%;
  position:relative;
  color:#fff;
  background-color:red;
  height:16px;
  width:16px;
  top:-8px;
  left:-8px;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height:25px;
}

a{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h4 {
  line-height: $headline-height;
}

.trainingDay {
    font-weight:bold;
}

#logo {
  border:solid 0px #000;
  width:$logo-width-small;
  height:$header-top-height-small;
  background-image: url("http://res.cloudinary.com/tjeland/image/upload/v1498138077/Warrington_Masters_Logo_RGB-resize_bpa9dh.jpg");
  background-repeat:no-repeat;
  background-size:auto $header-top-height-small;
  margin:auto
}

.bodyHome {
  background-color: #ccc;
  min-height:550px;
  position:relative;
  &:before {
    background-image: url("http://res.cloudinary.com/tjeland/image/upload/v1498225772/blocks_lozhqs.jpg");
    opacity: 0.7;
    position: absolute;
    content: ' ';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }
  
  .bodyHomeContainer {
    min-height:400px;
    .homePanel {
      color:#fff;
      position: relative;
      margin: auto;
      top: 30px;
      width: 90%;
      background: rgb(000, 000, 000); /* Fallback for older browsers without RGBA-support */
      background: rgba(000, 000, 000, 0.65);
      border-radius: 5px;
      padding:30px;
    }
  }
}

.header {
  .headerTop {
    position:relative;
  }
  .navContainer {
    background-color: $wmsc-blue;
    position:absolute;
    z-index:99;
    width:100%;
  }
  
  .menuContainer {
    float:left;
    display:table;
    vertical-align:middle;
    border-spacing: 5px 0;
    height:$header-top-height-small;
    cursor:pointer;
    .menu {
      vertical-align: middle;
      display: table-cell;
      padding-top:6px;
      width:44px;
      div {
        margin-bottom:5px;  
        background-color:#ccc;  
        height:5px;
        @include border-radius(5px);
      }
      
    }
  }
  .mediaLinks, .headerLeft {
    position:absolute;
    top:0;
  }
  
}

.mediaLinks {
    float: right;
    right:0;
  }

.affiliateLinks {
    float:left;
  }
  .mediaLinks, .affiliateLinks {
    display:table;
    vertical-align:middle;
    border-spacing: 15px 0;
    height:$header-top-height-small;
    a, > div {
      display:table-cell;
      width:30px;
      height:30px;
      vertical-align:middle;
      background-repeat:no-repeat;
      background-position:center;
      background-size:100%;
      padding:0 0 0 15px;
      &:hover {
        text-decoration:none;
      }
    }
    a.facebook {
      background-image:url("http://res.cloudinary.com/tjeland/image/upload/v1498225771/FB-f-Logo__blue_29_ydtukw.png");
      margin:0 0 0 0;
      }
    a.twitter {
      background-image:url("http://res.cloudinary.com/tjeland/image/upload/v1498225772/twitter-logo-silhouette-min_tt0kw0.png");
    }
    .swim21 {
      width:31px;
      background-image:url("http://res.cloudinary.com/tjeland/image/upload/v1498138083/Swim_21-transparent_g3msvo.png");
      background-size:auto 15px;
    }
  }

nav {
    text-align:left;
    a {
      color: #fff;
      display: block;
      font-weight:400;
      padding: 0 15px;
      /*text-transform: uppercase; */
      text-decoration: none;
      height:64px;
      line-height:64px;
      &:hover {
        color:#fff;
        text-decoration:none;
        border-bottom: solid 5px rgba(0,0,0,0.4);
      }
    }
    a.active {
        color:#fff;
        text-decoration:none;
        border-bottom: solid 5px rgba(0,0,0,0.4);
    }
  }
.homeButton {
  display: inline-block;
  min-width: 125px;
  padding: 0 10px;
  margin: 10px 10px 0 0;
  color: #fff;
  background-color: #e45f4d;
  cursor: pointer;
  font-size: 1em;
  height:30px;
  line-height:30px;
  text-align:center;
  @include border-radius(3px);
  &:hover {
    color:#fff;
  }
}

.genericButton {
    border: none;
    height: 25px;
    line-height: 25px;
    padding: 0 20px;
    font-size: 0.75em;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    cursor: hand;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    
}
.submitButton {
    height: 35px;
    line-height: 35px;
    font-size: 1em;
    margin: 0;
    margin: 0 10px 0 0;
    color: #fff;
    background-color: #e45f4d;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8em;
    &:hover {
        text-decoration: underline;
    }
}

.footer {
  background-color: $footer-color;
  clear: left;
  min-height: $footer-height;
  nav {
    float:left;
    text-align:left;
    a {
      padding: 0 0;
      margin-right:30px;
    }
  }
  .copyright {
    font-size:11pt;
    height:30px;
    line-height:30px;
    clear:both;
  }
}

.homeInfoPanel {
  overflow:auto;
  padding:15px 0;
}

.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.homeNewsItem {
    cursor:pointer;
    height:$mobile-home-new-item-height;
    > div {
      display:block;
      padding:0;
    }
    .homeNewsImage {
      width:$mobile-home-new-item-width;
      img {
        width:$mobile-home-new-item-width;
        height:$mobile-home-new-item-height;
      }
    }
    .homeNewsDetails {
        h4 {
            margin-top:0;
        }
      .homeNewsStory {
        
      }
    }
  }

.nextSession {
    display:table;
    width:100%;
    /*height: $desktop-home-new-item-height;*/
    line-height:1.5em;
    padding: 0 0 15px;
    >div {
      display:table-cell;
      vertical-align:top;
    }
    .nextSessionDetails {
      width:170px;
    }
    .nextSessionMap {
      width:auto;
      height:150px;
    }
    .nextSessionWhenLocation {
      font-style:italic;
    }
}

.newsItem {
    .newsTitle {
        text-transform: uppercase;
        font-weight: bold;
    }
    .newsDate {
        font-size: 11pt;
        padding-bottom: 10px;
    }
    .newsImage {
        padding-bottom:20px;
        img {
            height: auto;
            width: 100%;
        }
    }
    .newsBody {
        border-bottom: solid 1px #eee;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
}

.newsLinkButton {
    margin-bottom: 15px;
    display: block;
    background-color: $wmsc-blue;
    text-align: center;
    height: 44px;
    line-height: 44px;
    color: #fff;
    &:hover {
        color:#fff;
    }
    @include border-radius(5px);
}

.errors {
  color: $error-text-color;
  margin-top: 0.25rem;
  animation: slide-down 0.3s backwards ease-in-out;
  
  @keyframes slide-down {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
  }
}

/* Mobile/tablet view */
@media (max-width: 992px) { 
    .header .navContainer {
        overflow: hidden;
        max-height: 0;
        &.hideMenu {
            overflow: hidden;
            max-height: 0;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;
            -moz-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
        &.showMenu {
            -moz-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -moz-transition-timing-function: ease-in;
            -webkit-transition-timing-function: ease-in;
            -o-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
            max-height: 1000px;
            overflow: hidden;
        }
    }
        

    .header {
        .headerTop {
            border-bottom: 10px solid $wmsc-blue;
        }
    }

.homeNewsItem {
    
    .homeNewsDetails {
      .homeNewsStory {
        padding:0 0 15px;
      }
    }
  }

}

/* Desktop view */
@media (min-width: 992px) { 
    
  html, body {
   margin:0;
   padding:0;
   height:100%;
  }    
    
    #app {
        min-height:100%;
        position:relative;
    }

    main {
        padding-bottom:$footer-height;
    }    
    
  .header {
    
    .menuContainer {
      display:none;
    }
    
    .navContainer {
      display:block !important;
      position:relative;
    }
    
    .mediaLinks, .affiliateLinks {
      height:$header-top-height;
    }
    
  }
  
  nav {
    text-align:center;
    a {
      display:inline-block;
      height:44px;
      line-height:44px;
      color:#fff;
    }
  }
  
  .latestNewsContainer {
    float:left;
    width:60%;
  }
  .otherInfoContainer {
    float:right;
    padding-left: 15px;
    width:40%;
  }
  .homeNewsItem {
    display:table;
    width:100%;
    padding:0 0 15px;
    height:$desktop-home-new-item-height;
    > div {
      display:table-cell;
      padding:0;
    }
    .homeNewsImage {
      width:$desktop-home-new-item-width;
      img {
        width:$desktop-home-new-item-width;
        height:$desktop-home-new-item-height;
      }
    }
    .homeNewsDetails {
      vertical-align: top;  
      padding: 0 0 0 15px;
      .homeNewsStory {
        -webkit-line-clamp: $desktop-home-new-item-lines-limit;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;  
        line-height:1.4em;
        
      }
    }
  }
    
    .newsItem {
        .newsImage {
            img {
                height: 210px;
                width: auto;
            }
        }
    }
    
    .newsLinkButton {
        height: 35px;
        line-height: 35px;
    }

  .affiliateLinks {
    .swim21 {
      width:62px;
      background-size:auto 30px;
    }
  }
 
  .footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:$footer-height;
    nav {
      width:70%;
    }
  }
  
  #logo {
    height:$header-top-height;
    background-size:auto $header-top-height;
    width:$logo-width;
  }
  
  .bodyHome {
    min-height:45vh;
    .bodyHomeContainer {
      min-height:400px;
      .homePanel {
        top: 60px;
        width: 60%;
      }
    }
  }
  
}